@charset "UTF-8";

.header{
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 20px;
    margin-left: auto;
    margin-right: auto;
}

.header-menu{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}
.header-menu a{
    text-decoration: none;
    color: #141414;
    font-size: 1.125rem;
    line-height: 1.3;
    padding: 10px 20px;
    display: block;
}
@media (max-width:800px){
    .header{
        flex-direction: column;
        gap: 40px;
        padding: 20px;
    }
    .header a{
        background-color: #f5f5f5;
        border-radius: 4px;
    }

}
